.co-slider {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 200px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 100px;
}

.co-slider img {
  width: 100%;
  height: auto;
  display: flex;
  object-fit: contain;
  transition: opacity 1s ease-in-out;
}

.co-dots {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.co-dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.co-dot.active {
  background-color: #f59e0b; /* yellow for active slide */
}
