.slider {
  position: relative;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.slider img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #f59e0b;
}
