.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  color: white;
  border-bottom: 2px solid white;
}

.navbar-logo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 200px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-left: 120px;
}

.navbar-links li a {
  /* color: white; */
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
  font-size: 0.8rem;
  letter-spacing: 1.3px;
}

.navbar-links li a:hover {
  color: #fbbf24; /* yellow on hover */
}

.navbar-button button {
  border: none;
  color: white;
  font-size: 0, 7rem;
  font-weight: 500;
  background: none;
  cursor: pointer;
  font-family: "ProximaNovaBold";
}
