@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  /* font-family: "Dancing Script", serif; */
  font-weight: 500;
  overflow: hidden; /* Prevent body scroll */
}

html {
  scroll-snap-type: y mandatory;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
