
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('./assets/fonts/proximanova_bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('./assets/fonts/proximanova_regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: "ProximaNovaBold";
}
